body{

}
img{
    height: 700px;
    width: 1900px;
}
h3{
    font-size: 90px;
}
h2{
    font-size: 100px;
}
ul{
    font-size: 70px;
}
h1{
    font-size: 150px;
    text-align: center;
}
h4{
    font-size: 100px;
    text-align: center;
   
}
.whatss{

}